<section class="fixed inset-0 w-screen h-screen z-10 bg-black/85 flex items-center justify-center overflow-hidden" *ngIf="isLoading()">
    <div class="flex flex-col items-center">
        <div class="wrapper mb-4">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="shadow"></div>
            <div class="shadow"></div>
            <div class="shadow"></div>
        </div>
        <span class="text-white text-lg">Obteniendo información</span>
    </div>
</section>