<footer class="bg-zinc-950 rounded-lg shadow-sm m-4">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <img src="assets/img2.png" class="h-8" alt="Flowbite Logo" />
            <span class="self-center text-sm tracking-[0.15em] whitespace-nowrap text-white">
                Herramientas utilizadas: <span class="text-slate-500 font-bold">Angular | Typescript | TailwindCSS | NgRx</span>
            </span>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">
            © {{ actuallyYear }} web site powered by Arturo Castillo. All Rights Reserved.
        </span>
    </div>
</footer>